# C:\chatbot\ask_me\.gitignore

# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases and environment
db.sqlite3
.env

# IDEs and OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Local data or models
*.pt
*.h5
*.weights

# Staticfiles
staticfiles/
