Django==5.1.7
djangorestframework==3.16.1
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.9.0

python-decouple==3.8
dj-database-url==2.3.0

pillow==11.1.0
opencv-python-headless==4.11.0.86
pytesseract==0.3.10
easyocr==1.7.1

pdf2image==1.17.0
pdfplumber==0.11.7
PyPDF2==3.0.1

numpy==1.26.4
pandas==2.2.3

requests==2.32.3

django-ckeditor==5.9.0
django-admin-interface==0.30.0
django-colorfield==0.13.0
django-crispy-forms==2.4
django-filter==25.1